package main

import (
	"fmt"
	"log"
	"net/http"
)

const appPort = {{.Port}}

func main() {
	mux := http.NewServeMux()
	mux.HandleFunc("GET /health", func(writer http.ResponseWriter, _ *http.Request) {
		_, _ = writer.Write([]byte("ok"))
	})
	log.Fatal(http.ListenAndServe(fmt.Sprintf(":%d", appPort), mux))
}
