import ballerina/http;

configurable int appPort = ?;

listener http:Listener appListener = new (appPort);

service / on appListener {
    resource function get health() returns string {
        return "ok";
    }
}
